.card {
    position: relative;
    border: var(--card-border);
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-shadow);
    background-color: var(--white);
    text-align: center;
    padding: 0;
    width: 75%;
    height: auto;
    /* top: 25%; */
    margin: 5% auto;
    /* bottom: 25%; */
}

.card-body {
    border-top: var(--card-border);
    border-bottom: var(--card-border);
    padding: 2%;
}

.card-header {
    padding: 2% 1%;
}
