.content-card {
    background: linear-gradient(71deg, var(--content-card-color));
    background-clip: padding-box;
    border: 1px solid transparent;
    box-shadow: var(--content-card-shadow);
    border-radius: 5px;
    margin: 5% 3%;
    padding: 5%;
    position: relative;
}

.content-card-body .btn-question-gen {
    /* color: var(--white); */
    /* border: 1px solid var(--red); */
    padding: 5% 7%;
    margin: 1%;
    /* background-color: var(--red); */
    border-radius: 5px 0;
    font-family: inherit;
}
